<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserInfoMapper">
    <select id="LoginCheckRole" parameterType="com.qf.vo.LoginCheckVo" resultType="com.qf.pojo.UserInfo" >
          select u.* from userInfo u,user_role ur where u.username=#{username} and u.password=#{password} and u.userInfoId=ur.userInfoId and u.flag=1 and ur.flag=1 limit 0,1
    </select>

    <select id="getUserInfoBy" resultType="com.qf.dto.UserInfoDto" parameterType="com.qf.vo.UserInfoVo">
        select * from userInfo
        <where>
            <trim prefixOverrides="and">
                <if test="userInfoId!=null and userInfoId!=0">
                    and userInfoId=#{userInfoId}
                </if>

                <if test="flag!=null and flag!=-1 and flagf==-1">
                    and flag=#{flag}
                </if>
                <if test="flag!=null and flag!=-1 and flagf!=null and flagf!=-1">
                    and (flag=#{flag} or flag=#{flagf})
                </if>
                <if test="startTime!=null and startTime!='' and endTime==null">
                    and registrationDate BETWEEN #{startTime} AND '9999-12-12'
                </if>
                <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">

                    and registrationDate BETWEEN #{startTime} AND #{endTime}
                </if>
                <if test="username!=null and username!=''">
                    and username like '%${username}%'
                </if>
            </trim>

        </where>
    </select>

    <insert id="addUser" parameterType="com.qf.vo.AdminAddVo" >
        insert into userInfo(username, password,email, phone) values (#{username},#{password},#{email},#{phone})
    </insert>

    <insert id="addUserRole" parameterType="com.qf.pojo.UserRole">
        insert into user_role(userInfoId, roleId) VALUES (#{userInfoId},#{roleId})
    </insert>


    <update id="updateUserInfoById" parameterType="com.qf.vo.UserInfoVo">
        update userInfo
        <set>
            <trim suffixOverrides=",">
                <if test="password!=null and password!=''">
                    password=#{password},
                </if>
                <if test="sex!=null and sex!=''">
                    sex=#{sex},
                </if>
                <if test="name!=null and name!=''">
                    name=#{name},
                </if>
                <if test="email!=null and email!=''">
                    email=#{email},
                </if>
                <if test="phone!=null and phone!=''">
                    phone=#{phone},
                </if>
                <if test="headPath!=null and headPath!=''">
                    headPath=#{headPath},
                </if>
                <if test="flag!=null and flag!=-1">
                    flag=#{flag},
                </if>
            </trim>
        </set>
        where
        <if test="userInfoIds!=null">
            userInfoId in
            <foreach collection="userInfoIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="username!=null and username!=''">
            username=#{username}
        </if>
    </update>
</mapper>

